hr
{
	height: 3px;
	background-color: black;
}

body
{
	background-color: #ffc878;
	text-align: center;
}

table
{
	border-collapse: collapse;
}	
	
@font-face
{
	font-family: FantasyFont;
	src: url(ENDOR___.woff);
	font-style: normal;
}
	
#RestaurantName
{
	font-family: FantasyFont;
}

#ContactInfo
{
	background-color: rgba(255,0,0,.5);
}

#NavigationLinks
{
	background-color: rgba(255,0,0,.5);
}

a:visited
{
	color:gray;
}
a:hover
{
	font-weight: bold;
}
a:active
{
	color:white;
	text-decoration: none;
}